# Python cache
__pycache__/

# Mac OS
.DS_Store
# IDEs
.idea/
*.iml
*.ipr
*.iws
*.idea

# vscode
.vscode/

# Virtual environment
.venv/

# Environment variables
*.env

# dev files
TODO.md
project_introduction.md
venv/

# test scripts
test_openrouter.py
